# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
ordered list:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Numpy
3. Padas
4. Matplotlib

|Data Science Tools|
|-|
|Apache Hadoop|
|Tableau|
|BigML|

### H3: Below are a few examples of evaluating arithmetic expressions in Python
        x = 5
        x = x + 5
        print(x)

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes//60
print(hours)

3

**Objectives:**
python
R
SQL

## H2: Author
       Raj Bhatt